html{
	background-color: #ffffff;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.5rem;
	box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
	background-color: #e7001d;
	padding: 0.5em 0em 0em 0em;
	margin: 0;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-size: 3rem;
	text-shadow: #222222 2px 4px 3px;
	position: absolute;
	margin-left: 40%;
	z-index: 1000;
}

.medallion {
	width: 150px;
	position: relative;
	margin-left: 30%;
}

h2 {
	color: #ffffff;
	text-align: center;
	font-size: 1em;
	text-shadow: #222222 2px 4px 3px;
	position: absolute;
	margin-left: 36%;
	top: 5rem;
	z-index: 1000;
}

nav {
	border-top: 2px solid #000000;
}

nav li {
	float: left;
	width: 50%;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav a {
	display: block;
	background-color: #222222;
	color: white;
	text-decoration: none;
	text-align: left;
	padding: 1em 1em 1em 1em;
	margin: 0;
}

a:hover {
	display: inline-block;
	width: 50%;
	background-color: #000000;
}

.banner {
	display: block;
	width: 100%;
}


h3 {
	position: absolute;
	left: 0;
	top: 13em;
	color: white;
	font-style: italic;
	text-shadow: #222222 2px 4px 3px;
	font-size: 2em;
	text-align: center;
	width: 100%;
}

.div-yellow {
	background-color: #e4c22a;
	overflow: hidden;
	margin: 0;
}

.h4-black {
	color: black;
	font-style: bold;
	font-size: 1.5em;
	text-align: center;
}

.dragon-sym {
	width: 40%;
	float: left;
}

.dragon {
	width: 40%;
	float:right;
}

.figcaption-black {
	color: #000000;
	font-style: italic;
	text-align: center;
	clear: both;
	padding: 0em 0em 1em 0em;
}

.div-charcoal {
	background-color: #222222;
	overflow: hidden;
	margin: 0;
}

.h4-white {
	color: white;
	font-style: bold;
	font-size: 1.5em;
	text-align: center;
}

.goat-sym {
	width: 40%;
	float: right;
}

.goat {
	width: 40%;
	float:left;
}


.figcaption-white {
	color: #ffffff;
	font-style: italic;
	text-align: center;
	clear: both;
	padding: 0em 0em 1em 0em;
}

.div-red {
	background-color: #bc0017;
	overflow: hidden;
	margin: 0;
}

.rooster-sym {
	width: 40%;
	float: left;
}

.rooster {
	width: 40%;
	float:right;
}

.ox-sym {
	width: 40%;
	float: right;
}

.ox {
	width: 40%;
	float:left;
}


.navfooter {
	background-color: #222222;
	color: white;
	text-align: center;
	padding: 1em 0em 1em 0em;
	width: 100%;
	border: 0;
}
